@import url(./__container/popup__container.css);
@import url(./__data/popup__data.css);
@import url(./__title/popup__title.css);

.popup {
    display: none;
    height: 1217px;
    justify-content: center;
    margin: 0 auto 0;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup_opened {
    display: flex;
}

