.profile__work {
    margin: 0 4.75px 0 0;
}

@media screen and (max-width: 575px) {
    .profile__work {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        margin: auto;
    }
}